<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dota2 Heroes</title>
    <link href="./styles.css" rel="stylesheet">
</head>
<body>
    <section class="input-section">
    <input class="hero-input" placeholder="Enter Hero">
    <button class="submit-btn">Submit</button>
    </section>
    <section class="img-section">
        <img src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/heroes/antimage.png">
    </section>
</body>
</html>